{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">
  <h2 class="section-title" id="projects">{{ projects.title }}</h2>

  {% if projects.intro %}
  <div class="intro">
    <p>{{ projects.intro }}</p>
  </div>
  {% endif %}

  {% for project in projects.assignments %}
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <div class="project-title">
          {% if project.link %}
          <strong><a href="{{ project.link }}" target="_blank">{{ project.title }}</a></strong>
          {% else %}
          <strong>{{ project.title }}</strong>
          {% endif %}
        </div>
        {% if project.time %}
        <div class="time">{{ project.time }}</div>
        {% endif %}
      </div>
    </div>
    {% if project.tagline %}
    <div class="project-tagline">{{ project.tagline | markdownify }}</div>
    {% endif %}
  </div>
  {% endfor %}
</section>
{% endif %}
