/* dark variables */
$theme-color: #212228;
$text-color: #999999;
$text-color-secondary: #333333;
$text-grey: #4D4D4D;
$divider: #B3B3B3;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #f5f5f5;
$heart: #a2a2a2;
$star: #a2a2a2;
