/* dark variables */
$theme-color: #212228;
$text-color: #FFFFFF;
$text-color-secondary: #E6E6E6;
$text-grey: #B3B3B3;
$divider: #e8e8e8;
$lighter-grey: #cccccc;
$darker-grey: #666666;
$smoky-white: #f5f5f5;
$heart: #a2a2a2;
